body{
  background: #121212;
  font-family: 'Inconsolata', monospace;
}

.card{
  background: #fff;
  margin: auto;
  border-radius:10px 10px 0px 0px;
  height: 200px;
  width: 490px;
}

#profile{
  z-index: 0;
  text-align: center;
  margin-top: 180px;
  padding: 20px;
}


.card #photo{
  width: 128px;
  height: 128px;
  margin:0 auto;
  display: block;
  border-radius: 100%;
}

.card #name{
  font-size: 20px;
  color: #f62b48;
}

.card #desc{
  font-weight: lighter;
  font-size: 18px;
  color: black;
}

.card2{
  background: #f62b48;
  margin: 0 auto;
  position: relative;
  border-radius:0px 0px 10px 10px;
  height: 30px;
  width: 490px;
}

#profile2{
  text-align: center;
  padding: 20px;
}

.contact{
  display: inline;
  z-index: 2;
}

.card2 a{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.card2 a:hover{
  color: #000;
}


@media (max-width: 960px) {
  .card{
    width: 75%;
      }
}

@media (max-width: 480px) {
  .card{
    width: 85%;
      }
}
