body{
  background: #f5f5f5;
  font-family: 'Inconsolata', monospace;
}

.card{
  background: #fff;
  margin: auto;
  border: 1px solid #f62b48;
  border-radius:5px 5px 0px 0px;
  height: 200px;
  width: 490px;
}

#profile{
  z-index: 0;
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}


.card #photo{
  width: 128px;
  height: 128px;
  margin:0 auto;
  display: block;
  border-radius: 100%;
}

.card #name{
  animation: fade 5s 1 alternate;
  font-size: 20px;
  font-weight: bold;
  color: #f62b48;
}

.card #desc{
  animation: fade 5s 1 alternate;
  font-weight: lighter;
  font-size: 18px;
  color: black;
}

.card2{
  background: #f62b48;
  margin: 0 auto;
  border-radius:0px 0px 5px 5px;
  height: 30px;
  width: 492px;
}

#profile2{
  text-align: center;
  padding: 20px;
}

.contact{
  animation: fade 5s 1 alternate;
  display: inline;
  padding: 3px;
  z-index: 2;
}


.card2 a{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.card2 a:hover{
  color: #3d3d3d;
}

.footer{
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  font-family: 'Cute Font', cursive;
  text-align: center;
}

/* MEDIA AND KEYFRAMES */

@media (max-width: 960px) {
  .card{
    width: 75%;
      }
      .card2{
        width: 75%;
          }
}

@media (max-width: 480px) {
  .card{
    width: 85%;
      }
      .card2{
        width: 85%;
          }
}

@keyframes fade {
  from{opacity: 0}
  to{to: 1}
}

@-moz-keyframes fade {
  from{opacity: 0}
  to{to: 1}
}

@-webkit-keyframes fade {
  from{opacity: 0}
  to{to: 1}
}
