body{
  background:#222;
  color: #cecece;
  /* overflow: hidden; */
}

#page{
  width: 620px;
  height: 1000px;
  margin: auto;
  /* border: 1px solid white; */
}

#content{
  margin-top: 20%;  
}

h1{
  font-size: 32px;
}
h2,p{
  font-size: 18px;
}

h3{
  font-size: 25px;
}

#intro{
  color: #7dc2ff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
}

#intro::after{
  content:'\2009\00AC';
  opacity: .5;
}

#desc{
  padding-top: 15px;
  padding-right: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  text-align: left;
}

#outro{
  color: #7dc2ff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  padding-right: 10px;
  text-align: left;
}

#socmed{
  margin-top: 10px;
}

#socmed a{
  color: #cecece;
  padding: 5px;
  font-size: 30px;
}

hr{
  background-color: #7dc2ff;
  width: 75%;
  height: 1px;
  border: 0;
}

/* MEDIA AND KEYFRAMES */

@media (max-width: 960px) {
  #page{
    width: 95%;
  }
}

@media (max-width: 480px) {
  #page{
    width: 95%;
  }
}

@keyframes fade {
  from{opacity: 0}
  to{to: 1}
}

@-moz-keyframes fade {
  from{opacity: 0}
  to{to: 1}
}

@-webkit-keyframes fade {
  from{opacity: 0}
  to{to: 1}
}