body {
  /*
  background-color: #000000;
  background-image: url(pics/bekgron.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  */
  background-image: linear-gradient(to right, #1F3BC9 0%, #693EC6 60%);
  font-family: Share Tech Mono;
}

#background1{
  background: black;
}

/* efek transisi */
.fade {
  -webkit-animation: kedip 2s;
  -moz-animation: kedip 2s;
  animation: kedip 2s;
}

@-webkit-keyframes kedip {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes kedip{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes kedip {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes mantul {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes mantul {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-moz-keyframes mantul {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* id untuk gambar tengah */
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

/* menu tab keseluruhan */

nav, footer {
  text-align: center;
}

.linkbp {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background 1.5s, color 1.5s;
  border-radius: 10px;
  margin-top: 0px;
  background: none;
  height: auto;
  width: auto;
}

/* menu tab satu per satu */
.menu_web{
  position: fixed;
  display: block;
  right: 0;
  z-index: 1;
  -moz-animation: mantul .5s infinite alternate;
  -webkit-animation: mantul .5s infinite alternate;
  /* animation: name duration iteration direction */
  animation: mantul .5s infinite alternate;
  bottom: 0;
}

.menu_web2{
  position: fixed;
  display: block;
  -moz-animation: mantul .5s infinite alternate;
  -webkit-animation: mantul .5s infinite alternate;
  animation: mantul .5s infinite alternate;
  left: 0;
  z-index: 1;
  bottom: 0;
}

.menu_web3{
  position: fixed;
  display: block;
  animation: mantul .5s infinite alternate;
  -moz-animation: mantul .5s infinite alternate;
  -webkit-animation: mantul .5s infinite alternate;
  transition: 1.5s;
  bottom: 0;
  right: 0;
}

/* kondisi biasa */
.menu_web:link{
  background: none;
}

/* kondisi setelah dikunjungi */
.menu_web:visited{
  background: none;
}

/* kondisi hover (mouse di atas link) */
.menu_web:hover{
  background: none;
}
/* sampai di sini */

.menu_web2:active{
  background: none;
}

.menu_web2:link{
  background: none;
}

.menu_web2:visited{
  background: none;
}

.menu_web2:hover{
  background: none;
}

.menu_web2:active{
  background: none;
}
/* tab bawah */

/* kondisi biasa */
.linkbp:link{
  background: none;
}

/* kondisi setelah dikunjungi */
.linkbp:visited{
  background: none;
}

.linkbp:hover{
  transform: rotateZ(20deg);
}

/* kondisi aktif */
.linkbp:active{
  background: none;
}

/* sampai di sini */

#ha1 {
  color    : #555555;
  background: white;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 4px;
  font-size: 25px;
  font-family: 'Share Tech Mono', cursive;
  width: 200px;
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 5px 7px 20px 1px black;
  padding-top: 15px;
  height: 40px;
}

#ha2 {
  color    : #555555;
  background: pink;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 4px;
  box-shadow: 5px 7px 10px 1px #555555;
  line-height: normal;
  font-family: 'Share Tech Mono', monospace;
  font-size: 25px;
  width: 300px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  height: 40px;
}

#ha3 {
  color    : #555555;
  background: pink;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 4px;
  box-shadow: 5px 7px 10px 1px #555555;
  line-height: normal;
  font-family: 'Share Tech Mono', monospace;
  font-size: 25px;
  width: 230px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  height: 40px;
}

#aboutme {
  text-align: center;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  /* box-shadow: horizontal vertical blur spread color */
  box-shadow: 0px 0px 10px 5px white  ;
  text-indent: 0px;
  font-size: 20px;
}

#aboutme2 {
  color: white;
  margin-top: 30px;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

#aboutbp {
  color: white;
  margin-top: 30px;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
#aboutj1{
  text-align: center;
  display: block;
  width: 150px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: pink;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 5px pink;
  border: 1px solid pink;

}

#aboutj2{
  color: pink;
  margin-top: 30px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

#content1, #content2 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  color: pink;
  font-style: italic;
}

#content3 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  color: pink;
  font-weight: bolder;
}

.linkme {
  text-align: center;
  color: pink;
  margin-top: 10px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

.linkme:link {
  background: none;
}

.linkme:hover{
  transform: rotate(20deg);
}

.linkme:visited {
  background: none;
}

.linkme:active {
  background: none;
}

#main1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 25px;
}

#main2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 25px;
}

#details1, #summary1 {
  margin-top: 20px;
  color: pink;
  text-align: center;
  font-size: 16px;
}

#profile1 {
  display: block;
  width: 130px; height: 130px;
  margin-left: auto;
  margin-right: auto;
  animation: muter 3s 1 alternate;
}

@keyframes muter{
  from{transform: rotateZ(0px);}
  to{transform: rotateZ(360deg);}
}

#profile2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#profile3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid pink;
  width: 130px; height: 130px;
}

.progress_bar{
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px; height: 25px;
}

#skill1{
  background: white;
  position: absolute;
  width: 0px; height: 21px;
  animation-name: bar;
  animation-duration: 2s;
  border-radius: 5px;
  animation-iteration-count: 1;
  text-align: center;
  padding-top: 4px;
  animation-fill-mode: forwards;
}

#skill2{
  background: white;
  position: absolute;
  width: 0px; height: 21px;
  animation-name: bar2  ;
  animation-duration: 2s;
  border-radius: 5px;
  animation-iteration-count: 1;
  text-align: center;
  padding-top: 4px;
  animation-fill-mode: forwards;
}

@keyframes bar {
  from { width: 0px; }
  to { width: 130px; background: white;}
}

@keyframes bar2 {
  from { width: 0px; }
  to { width: 170px; background: white;}
}

#aboutskill {
  text-align: center;
  font-weight: bold;
  color: white;
  /* boder width style color */
  border: 1px solid white;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  /* box-shadow: horizontal vertical blur spread color */
  box-shadow: 0px 0px 10px 5px white  ;
  text-indent: 0px;
  font-size: 20px;
}

#pngskill{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
