body {
  /*
  background-color: #000000;
  background-image: url(pics/bekgron.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  */
  background: black;
  font-family: sans-serif;
}

/* efek transisi */
.fade {
  -webkit-animation: fadeEffect 2s;
  -moz-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadeEffect{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* id untuk gambar tengah */
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.limiter {
  text-align: center;
  color: pink;
  font-weight: bold;
  display: inline-block;
}

/* menu tab keseluruhan */
nav, footer{
  text-align: center;
  margin-top: 10px;
}

.linkbp {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background 1.5s, color 1.5s;
  border-radius: 10px;
  margin-top: 10px;
  height: auto;
  width: 90px;
}

/* menu tab satu per satu */
.menu_web{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background 1.5s, color 1.5s, width 1.5s, height 1.5s;
  border-radius: 10px;
  padding: 20px 0 0 0;
  height: 40px;
  width: 200px;
}
/* kondisi biasa */
.menu_web:link{
  background: black;
  color: pink;
}

/* kondisi setelah dikunjungi */
.menu_web:visited{
  background: black;
  color: pink;
}

/* kondisi hover (mouse di atas link) */
.menu_web:hover{
  background: pink;
  padding: 30px 0 0 0;
  height: 60px;
  width: 250px;
  color: black;
}

/* kondisi aktif */
.menu_web:active{
  background: pink;
  color: black;
}
/* sampai di sini */

/* tab bawah */

/* kondisi biasa */
.linkbp:link{
  background: black;
  color: pink;
}

/* kondisi setelah dikunjungi */
.linkbp:visited{
  background: black;
  color: pink;
}

/* kondisi hover (mouse di atas link) */
.linkbp:hover{
  background-color: #ff80ab;
  color: black;
}

/* kondisi aktif */
.linkbp:active{
  background: pink;
  color: black;
}

/* sampai di sini */

h1 {
  color    : black;
  background: pink;
  text-decoration: inherit;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 20px;
  line-height: normal;
  font-size: 30px;
  font-weight: bold;
  width: auto;
  height: auto;
}

#aboutme {
  text-align: center;
  font-weight: bold;
  color: pink;
  /* boder width style color */
  border: 2px solid pink;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  /* box-shadow: horizontal vertical blur spread color */
  box-shadow: 0px 0px 10px 5px pink;
  padding-bottom: 2px;
  text-indent: 0px;
  font-size: 20px;
}

#aboutme2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#aboutme3 {
  color: pink;
  font-size: 15px;
  font-style: italic;
  /* text-shadow: hori verti blur color */
  text-shadow: 0px 0px 5px white;
  font-weight: lighter;
  text-align: center;
}

#aboutme4 {
  color: #ff80ab;
  padding-top: auto;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#content1, #content2 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: auto;
  color: pink;
  font-style: italic;
}

#content3 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: auto;
  color: pink;
  font-weight: bolder;
}

.linkme {
  text-align: center;
  color: pink;
  margin-top: auto;
  padding-top: 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  transition: background 1.5s, color 1.5s;
  font-weight: bold;
}

.linkme:link {
  background: black;
  color: pink;
}

.linkme:hover {
  background: pink;
  color: black;
}

.linkme:visited {
  background: black;
  color: pink;
}

.linkme:active {
  background: pink;
  colo: black;
}

main-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 30px;
}

#details1, #summary1 {
  color:pink;
  text-align: center;
  font-size: 16px;
}

.linkgua {
  margin-top: 90px;
}
