body {
  z-index: -2;
  color: #00897b;
  background-color: #EEEEEE;
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

#atas{
  z-index: -1;
  width: 100%;
  height: 25%;
  background-color: #00897b;
  top: 0;
  position: fixed;
}

.card{
  width: 490px;
  background-color: #fff;
  margin:0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 #616161;
  overflow: auto;
}

#card1{
	padding:32px;
	margin-top:66px;
	text-align:center;
}

#card1 #photo{
  animation: spin 4s 1 alternate;
  width: 80px; height: 80px;
  border: 2px solid #00897b;
  border-radius: 100%;
}

#card1 #nama{
  animation: fade 7s 1 alternate;
  font-weight: bold;
  font-size: 19px;
  color:#212121;
}

#card1 #desc{
  font-size: 15px;
  color: #616161;
  margin-top: 10px;
  animation: fade 7s 1 alternate;
  font-weight: normal;
}

#card2{
  position:relative;
  padding:15px 32px 8px 32px;
	margin-top:22px;
}

#card2>.tab{
  margin-top:10px;
	margin-bottom:10px;
}

#card2>.tab>.title{
  font-size: 17px;
}

.title i{
  position: relative;
  left: -10px;
}

#card2>.tab>.content{
  padding: 5px 15px 5px 15px;
  position: relative;
}

#card2 .isi{
  animation: fade 7s 1 alternate;
  margin-top: 8px;
  margin-bottom: 8px;
}

#card2 .isi .about{
  font-size: 15px;
  color: #000;
}

#card2 .isi .tahun{
  font-size: 15px;
  color: #616161;
}

hr{
  width: 100%;
  color: #E0E0E0;
  background-color: #E0E0E0;
  height: 1px;
  border: 0;
}

/* MEDIA */
@media (max-width: 960px) {
	.card{
		width:65%;
	}
}

@media (max-width: 480px) {
	.card{
		width:75%;
	}
}

/* ANIMASI */
@keyframes spin {
  from{transform: rotateZ(0deg);}
  to{transform: rotateZ(360deg)}
}
@-moz-keyframes spin {
  from{transform: rotateZ(0deg);}
  to{transform: rotateZ(360deg)}
}
@-webkit-keyframes spin {
  from{transform: rotateZ(0deg);}
  to{transform: rotateZ(360deg)}
}

@keyframes fade {
  from{opacity: 0}
  to{opacitu: 1}
}
