body {
  /*
  background-color: #000000;
  background-image: url(pics/bekgron.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  */
  background-image: linear-gradient(to left, #8534f7 0%, #2760e6 100%);
  font-family: Share Tech Mono;
}

/* efek transisi */
.fade {
  -webkit-animation: fadeEffect 2s;
  -moz-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadeEffect{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* id untuk gambar tengah */
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

/* menu tab keseluruhan */

nav, footer {
  text-align: center;
}

.linkbp {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background 1.5s, color 1.5s;
  border-radius: 10px;
  margin-top: 0px;
  background: none;
  height: auto;
  width: auto;
}

/* menu tab satu per satu */
.menu_web{
  position: absolute;
  display: block;
  transition: 1.5s;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1.5s;
  right: 0;
  animation: bounce .5s infinite alternate;
  bottom: 0;
}

.menu_web2{
  position: absolute;
  margin-right: auto;
  display: block;
  animation: bounce .5s infinite alternate;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  left: 0;
  bottom: 0;
}
/* kondisi biasa */
.menu_web:link{
  background: none;
}

/* kondisi setelah dikunjungi */
.menu_web:visited{
  background: none;
}

/* kondisi hover (mouse di atas link) */
.menu_web:hover{
  background: none;
}
/* sampai di sini */

.menu_web2:active{
  background: none;
}

.menu_web2:link{
  background: none;
}

.menu_web2:visited{
  background: none;
}

.menu_web2:hover{
  background: none;
}

.menu_web2:active{
  background: none;
}
/* tab bawah */

/* kondisi biasa */
.linkbp:link{
  background: none;
}

/* kondisi setelah dikunjungi */
.linkbp:visited{
  background: none;
}

.linkbp:hover{
  transform: rotateZ(20deg);
}

/* kondisi aktif */
.linkbp:active{
  background: none;
}

/* sampai di sini */

#ha1 {
  color    : #555555;
  background: white;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 4px;
  font-size: 25px;
  font-family: 'Share Tech Mono', cursive;
  width: 200px;
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
    padding-top: 10px;
  height: 40px;
}

#ha2 {
  color    : #555555;
  background: pink;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 4px;
  line-height: normal;
  font-family: 'Share Tech Mono', cursive;
  font-size: 25px;
  width: 300px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 40px;
}

#aboutme {
  text-align: center;
  font-weight: bold;
  color: white;
  /* boder width style color */
  border: 2px solid white;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  /* box-shadow: horizontal vertical blur spread color */
  box-shadow: 0px 0px 10px 5px white  ;
  padding-bottom: 2px;
  text-indent: 0px;
  font-size: 20px;
}

#aboutme2 {
  color: #ad6cfe;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

#aboutme2 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
#aboutme3 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

#content1, #content2 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  color: pink;
  font-style: italic;
}

#content3 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  color: pink;
  font-weight: bolder;
}

.linkme {
  text-align: center;
  color: pink;
  margin-top: 10px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

.linkme:link {
  background: none;
}

.linkme:hover{
  transform: rotate(20deg);
}

.linkme:visited {
  background: none;
}

.linkme:active {
  background: none;
}

main-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 30px;
}

#details1, #summary1 {
  margin-top: 20px;
  color: pink;
  text-align: center;
  font-size: 16px;
}

.linkgua {
  margin-top: 0px;
}

#profile1 {
  display: block;
  width: 130px; height: 130px;
  margin-left: auto;
  margin-right: auto;
  transform: rotateZ(1px) translateZ(1px);
  margin-top: 0px;
  transition: 1.5s;
}

#profile1:hover{
    transform: rotateZ(360deg);
}
