body{
  background:#fff;
  /* overflow: hidden; */
}

#page{
  width: 620px;
  height: 500px;
  margin: auto;
  /* border: 1px solid white; */
}

#content{
  margin-top: 10%;
}

#header a{
  color: #000;
  font-size: 18px;
  margin: 5px 5px 5px 0px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: underline;
  text-decoration-color: #4285F4;
  transition-duration: .4s;
  margin-bottom: 30px;
}

#header a:link{
  color: #222;
}

#header a:hover{
  color: #4285F4;
}

#header a:visited{
  color: #222;
}

#header a:active{
  color: #222;
}

h1{
  font-size: 32px;
}
h2,p{
  font-size: 18px;
}

h3{
  font-size: 25px;
}

#intro{
  color: #4285F4;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-right: 90px;
  text-align: left;
}

#intro::after{
  content:'\2009\00AC';
  opacity: .7;
}

#desc{
  padding-top: 15px;
  padding-right: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  text-align: left;
}

#outro{
  color: #4285F4;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  padding-right: 10px;
  text-align: left;
}

#socmed{
  margin-top: -10px;
}

#socmed a{
  color: #696969;
  padding: 1px;
  font-size: 30px;
}

code{
  color: #4285F4;
  font-weight: 700;
}

hr{
  background-color: #4285F4;
  width: 75%;
  height: 1px;
  border: 0;
}

.back:after{
  font-family: 'Ubuntu', sans-serif;
  position:fixed;
  top:-10%;
  left:-10%;
  width:110%;
  height:110%;
  z-index:-1;
  line-height:1;
  font-size:10vmax;
  opacity:.020;
  font-weight: 900;
  content:attr(text);
  text-overflow:clip;
  overflow:hidden;
  word-break:break-all
}

/* MEDIA AND KEYFRAMES */

@media (max-width: 960px) {
  #page{
    width: 95%;
  }
}

@media (max-width: 480px) {
  #page{
    width: 95%;
  }
}
