html{
  background-color: #251124;
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #1e101e;
  background-repeat: no-repeat;
}

#page{
  transform: translate(-50%, -50%); 
  width: 350px;
  top: 45%;
  left: 50%;
  right: 50%;
  position: absolute;
  color:#fff;
  text-align: center;
}

figure{
  display: block;
}

figure img{
  width:256px;
  height:256px;
  border-radius: 100%;
}

#page .name{
  font-size: 30px;
}

#page .bio{
  font-family: 'Share Tech Mono', monospace;
  margin: 20px 0 20px 0;
  color: rgb(192, 192, 192);
  font-size: 18px;
}

#page .desc{
  color: #b37bca;
  font-size: 13px;
}

#page .end{
  margin: 20px 0 20px 0;
  color: rgb(192, 192, 192);
  font-size: 18px;
}

.social{
  display: inline;
}

.social a{
  margin: 0 3px 0 3px;
  color: #fff;
  font-size: 30px;
}

.social a:hover{
  animation: ;
}

/* MEDIA AND KEYFRAMES */

@media only screen and (max-width: 768px) {
  html {
    height: 100%;
  }

  body {
    background-repeat: no-repeat;
  }
  figure img{
    width:128px;
    height:128px;
    border-radius: 100%;
  }
  #page .name{
    font-size: 23px;
  }
  
  #page .bio{
    font-size: 18px;
  }
  
  #page .desc{
    font-size: 13px;
  }

}

@keyframes