html{
  background-color: #050505;
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #050505;
  background-repeat: no-repeat;
}

#page{
  transform: translate(-50%, -50%); 
  width: 350px;
  top: 45%;
  left: 50%;
  right: 50%;
  position: absolute;
  color:#fff;
  text-align: center;
}

figure{
  display: block;
}

figure img{
  border-radius: 100%;
}

#page .name{
  font-size: 30px;
}

#page .bio{
  margin: 20px 0 20px 0;
  color: rgb(192, 192, 192);
  font-size: 15px;
}

#page .desc{
  color: #b37bca;
  font-size: 13px;
}

/* MEDIA AND KEYFRAMES */

@media only screen and (max-width: 768px) {
  html {
    height: 100%;
  }

  body {
    background-repeat: no-repeat;
  }
  #page .name{
    font-size: 20px;
  }
  
  #page .bio{
    font-size: 15px;
  }
  
  #page .desc{
    font-size: 13px;
  }
}