html {
  background-color: #fff !important;
}

.bg {
  background-color: #fff !important;
  font-family: "Poppins", sans-serif !important;
}

body .container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar > .navbar-brand {
  color: #000 !important;
  font-size: 25px;
}

.navbar .nav-item {
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.navbar .nav-item .nav-link {
  transition: ease-in-out 0.4s;
  color: #000 !important;
}

.navbar .nav-item .nav-link:hover {
  transition: ease-in-out 0.4s;
  color: #314ddf !important;
}

.isi h1 {
  color: #000 !important;
  animation: fade 3s;
  margin-top: 2em !important;
}

.isi p {
  animation: fade 5s;
  margin-top: 20px;
  color: #000 !important;
}

.isi .link {
  animation: fade 7s;
  display: inline-block;
  margin-top: 20px;
  color: #314ddf;
  border-radius: 3px;
  text-decoration: none !important;
  padding: 10px;
  border-radius: 5%;
  background-color: #dde0ff;
  transition: ease-in-out 0.4s;
}

.isi .link:hover {
  transition: ease-in-out 0.4s;
  color: #fff;
  background-color: #314ddf;
}

.isi .head {
  font-size: 35px;
  color: #000 !important;
  font-weight: bold;
}

.isi .desc {
  font-size: 20px;
  font-weight: 400;
}

.profile {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 100%;
}

.isi .pdn {
  color: #b3b9c5 !important;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.isi .contact {
  transition: ease-in-out 0.4s;
  font-size: 20px;
  font-weight: 400;
  color: #000 !important;
  text-decoration: none;
}

.isi .contact:hover {
  transition: ease-in-out 0.4s;
  color: #314ddf !important;
}

hr {
  color: #e0e0e0;
  background-color: #e0e0e0;
  height: 1px;
  border: 0;
}

.col-md-6 img {
  margin-top: 4em !important;
}

.color-text {
  color: #314ddf !important;
}

a {
  text-decoration: none;
}

.daftar {
  background-color: #fff;
  list-style: none;
}

.daftar .isi_daftar {
  display: inline-block;
  font-size: larger;
}

.daftar li::before {
  content: "\2022";
  color: #000;
  font-weight: bold;
  position: absolute;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 992px) {
  /*
        anu
    */
}

@media (max-width: 768px) {
  .col-md-6 img {
    display: none;
  }

  .profile {
    margin-top: 20px;
    max-width: 150px;
    border-radius: 100%;
  }

  .isi .head {
    font-size: 25px;
    font-weight: bold;
  }

  .isi .pdn {
    font-size: 23px;
    font-weight: bold;
  }

  .bg {
    background: none;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
