html{
    font-family: 'Work Sans', sans-serif;    ;
}

.bg{
    background-image: url(bg.png);
    background-size: cover;
}

body .container{
    margin-top: 25px;
}

.navbar > .navbar-brand{
    color: #8A2BE2 !important;
    font-size: 25px;
    font-weight: 600;
}

.navbar .nav-item{
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

.isi h1{
    animation: fade 3s;
    margin-top: 3em !important;
}

.isi p{
    animation: fade 5s;
    margin-top: 20px;
    color: #3f3f3f !important;
}

.isi a{
    animation: fade 7s;
    display: inline-block;
    margin-top: 20px;
    color: white;
    border-radius: 3px;
    text-decoration: none !important;
    padding: 10px;
    background-color: #8A2BE2;
}

.isi a:hover{
    color: white;
    background-color: #6521a5;
}

.isi .head{
    font-size: 35px;
    font-weight: bold;
}

.isi .desc{
    font-size: 20px;
    font-weight: 400;
}

.ungu{
    color: #8A2BE2 !important;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media (max-width:768px ) {
    .isi .head{
        font-size: 25px;
        font-weight: bold;
    }
}